name: Lint
on: push
jobs:
  eslint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 24
      - run: yarn install --frozen-lockfile
      - run: yarn eslint
